<app-navbar></app-navbar>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">
        <!-- template sections -->


        <section class="page_title ds s-overlay s-parallax s-pt-130 s-pt-xl-150 s-pb-65">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h1>Book Your Pandit</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Pandit
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </section>
        <section class="ds s-py-90 s-py-xl-160 c-gutter-60">

            <div class="container">
                
                <div class="row">
                    <div class="col-lg-8">
                        <div class="divider-30"></div>
                        <h2>Book Pandit</h2>
                        <p class="breadcrumb-item" style="color:white">
                             - DivyaPuja has tried to achieve the grass-root level for the online Pandit booking services and therefore, will organize for all titles and kinds of Pandits like Pandit, Priest, Purohit, Pujari, Guruji, Brahmin, Bhatji, Acharya, Shastri etc. The mentioned Pandits for Pujas may be changed as per the client’s community and language needs. a specific customer desires a Pandit of his/her community i.e. North Indian, South Indian, Rajasthani, Maharashtrian, Gujarati, etc. or needs a Pandit as per any of the languages specified  by him/her (Hindi Pandit, Marathi Pandit, Gujarati Pandit, kannada Pandit, Tamil Pandit, Telugu Pandit, malayalam Pandit, Marwari Pandit, English Pandit, Bengali Pandit, etc.)
                        </p>
                    </div>
                    <div class="col-lg-4" style="padding:0;">
                        <div class="divider-60"></div>
                        <img width="100%" style="border-radius: 20px;" src="assets/images/pooja/bookPandit.jpg" alt="">
                        <div class="divider-60"></div>
                    </div>
                </div>

            </div>

        </section>
        <section class="ds s-pt-90 s-pb-30 s-pt-xl-150 s-pb-xl-90 c-mb-60 c-gutter-60">
            <div class="container" style="padding-top:0px" >
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                            <div class="item-media">
                                <img src="assets/images/pooja/grahaPooja.png" alt="img">
                                <div class="media-links">
                                    <a class="abs-link" title="" href=""></a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="mb-0 links-maincolor2">
                                    <a href="">Pandit</a>
                                </h5>

                                <p class="team-position mb-30">
                                    Rs.  /-
                                </p>
                                <p class="social-icons">
                                    <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                       Book
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div><!-- .col-* -->
                    <div class="col-lg-3 col-md-6">
                        <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                            <div class="item-media">
                                <img src="assets/images/pooja/grahaPooja.png" alt="img">
                                <div class="media-links">
                                    <a class="abs-link" title="" href=""></a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="mb-0 links-maincolor2">
                                    <a href="">Pandit</a>
                                </h5>

                                <p class="team-position mb-30">
                                    Rs.  /-
                                </p>
                                <p class="social-icons">
                                    <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                       Book
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div><!-- .col-* -->
                    <div class="col-lg-3 col-md-6">
                        <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                            <div class="item-media">
                                <img src="assets/images/pooja/grahaPooja.png" alt="img">
                                <div class="media-links">
                                    <a class="abs-link" title="" href=""></a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="mb-0 links-maincolor2">
                                    <a href="">Pandit</a>
                                </h5>

                                <p class="team-position mb-30">
                                    Rs.  /-
                                </p>
                                <p class="social-icons">
                                    <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                       Book
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div><!-- .col-* -->
                    <div class="col-lg-3 col-md-6">
                        <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                            <div class="item-media">
                                <img src="assets/images/pooja/grahaPooja.png" alt="img">
                                <div class="media-links">
                                    <a class="abs-link" title="" href=""></a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="mb-0 links-maincolor2">
                                    <a href="">Pandit</a>
                                </h5>

                                <p class="team-position mb-30">
                                    Rs.  /-
                                </p>
                                <p class="social-icons">
                                    <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                       Book
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div><!-- .col-* -->
                    <div class="col-lg-3 col-md-6">
                        <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                            <div class="item-media">
                                <img src="assets/images/pooja/grahaPooja.png" alt="img">
                                <div class="media-links">
                                    <a class="abs-link" title="" href=""></a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="mb-0 links-maincolor2">
                                    <a href="">Pandit</a>
                                </h5>

                                <p class="team-position mb-30">
                                    Rs.  /-
                                </p>
                                <p class="social-icons">
                                    <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                       Book
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div><!-- .col-* -->
                    <div class="col-lg-3 col-md-6">
                        <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                            <div class="item-media">
                                <img src="assets/images/pooja/grahaPooja.png" alt="img">
                                <div class="media-links">
                                    <a class="abs-link" title="" href=""></a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="mb-0 links-maincolor2">
                                    <a href="">Pandit</a>
                                </h5>

                                <p class="team-position mb-30">
                                    Rs.  /-
                                </p>
                                <p class="social-icons">
                                    <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                       Book
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div><!-- .col-* -->
                    <div class="col-lg-3 col-md-6">
                        <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                            <div class="item-media">
                                <img src="assets/images/pooja/grahaPooja.png" alt="img">
                                <div class="media-links">
                                    <a class="abs-link" title="" href=""></a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="mb-0 links-maincolor2">
                                    <a href="">Pandit</a>
                                </h5>

                                <p class="team-position mb-30">
                                    Rs.  /-
                                </p>
                                <p class="social-icons">
                                    <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                       Book
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div><!-- .col-* -->
                    <div class="col-lg-3 col-md-6">
                        <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                            <div class="item-media">
                                <img src="assets/images/pooja/grahaPooja.png" alt="img">
                                <div class="media-links">
                                    <a class="abs-link" title="" href=""></a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="mb-0 links-maincolor2">
                                    <a href="">Pandit</a>
                                </h5>

                                <p class="team-position mb-30">
                                    Rs.  /-
                                </p>
                                <p class="social-icons">
                                    <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                       Book
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div><!-- .col-* -->
                    

                </div>

                <nav class="woocommerce-pagination">
                    <ul class="page-numbers">
                        <li>
                            <span class="page-numbers current">1</span>
                        </li>
                        <li>
                            <a class="page-numbers">2</a>
                        </li>
                        <li>
                            <a class="next page-numbers">→</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>