<!--Section Top-->

<section class="ds section-home s-py-90 s-pb-lg-80 s-pt-xl-150 s-pb-xl-140">
   
    <div class="container">
        <div class="divider-50 divider-xl-65"></div>
        <div class="row align-center">
            <div class="col-lg-6 col-xl-5 order-lg-1 order-2 text-center text-md-left">
                <div class="divider-60 divider-lg-0"></div>
                <h5 class="special-heading bold mb-2 text-white">
                    
                </h5>
                <h3 class="special-heading fw-500 mb-2 color-main2 big-size">
                    <span>Your Passion is our
                        Satisfaction
                        </span>
                </h3>
                <p>
                    Best Service, Right Time, Right People
                    Divyapuja is one of the finest and most reliable online portals to carry
                    out various pujas. We predominantly focus on Devotee’s satisfaction
                    pertaining to puja which is the core thing of our online portal. We
                    ensure the super best services to our customers starting from puja
                    booking to the entire puja accomplishment process.

                </p>
                <div class="divider-35 divider-xl-55"></div>
                <div class="line line-left"></div>
                <div class="divider-40 divider-xl-60"></div>
             
                <h3 class="special-heading fw-500 text-white fs-50">
                    <span>To Register Click On</span>
                </h3>                  
                <div  *ngIf="currentUser == null"  class="divider-35 divider-xl-65"></div>
                <a  (click)="toggle()"  class="btn btn-maincolor">Register Now</a>
                
            </div>
            
            <div class="col-lg-6 col-xl-7 order-lg-2 order-1 text-center text-lg-right">
                <img class="horoscope-image" src="assets/images/horoscope.png" alt="img">
            </div>
        </div>
    </div>
</section>
<div style="display:none" id="divshow2">
    <app-login></app-login>
</div>
