<app-navbar></app-navbar>


<section class="ds s-py-90 s-py-xl-160 c-gutter-60">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="divider-30"></div>
                <p>
                    <b>Gift a Puja</b> - Gift a Puja is one of our unique service offerings. As the name says it all,
                    the concept is all about gifting a Puja to our dear ones for any occasion. We care for our dear ones
                    and always pray for their success, prosperity, good health, career growth, financial stability,
                    removal of obstacles etc. Also, as a token of love, affection, care and good wishes, we often gift
                    our loved ones with many materialistic gifts. With Gift a Puja service, it gives devotees an
                    exclusive opportunity to gift a Puja based on the occasion with a Spiritual touch.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="card-group">
        <div class="card">

            <div class="card-body">
                <div class="media">
                    <h4 style="color: #d23436;">Some of our Pujas include:</h4>
                </div>
                <div class="media">
                    <div class="icon-styled color-darkgrey fs-40">
                        <img src="assets/images/pooja/fire.png" alt="....">
                    </div>
                    <div class="media-body">
                        <h6 class="mt-3 mb-2 color-main2">
                            Recovery and Good Health
                        </h6>
                    </div>
                </div>
                <div class="media">
                    <div class="icon-styled color-darkgrey fs-40">
                        <img src="assets/images/pooja/fire.png" alt="....">
                    </div>
                    <div class="media-body">
                        <h6 class="mt-3 mb-2 color-main2">
                            Peace & Prosperity
                        </h6>
                    </div>
                </div>
                <div class="media">
                    <div class="icon-styled color-darkgrey fs-40">
                        <img src="assets/images/pooja/fire.png" alt="....">
                    </div>
                    <div class="media-body">
                        <h6 class="mt-3 mb-2 color-main2">
                            Birthdays
                        </h6>
                    </div>
                </div>
                <div class="media">
                    <div class="icon-styled color-darkgrey fs-40">
                        <img src="assets/images/pooja/fire.png" alt="....">
                    </div>
                    <div class="media-body">
                        <h6 class="mt-3 mb-2 color-main2">
                            New Job
                        </h6>
                    </div>
                </div>
                <div class="media">
                    <div class="icon-styled color-darkgrey fs-40">
                        <img src="assets/images/pooja/fire.png" alt="....">
                    </div>
                    <div class="media-body">
                        <h6 class="mt-3 mb-2 color-main2">
                            Examinations
                        </h6>
                    </div>
                </div>
                <div class="media">
                    <div class="icon-styled color-darkgrey fs-40">
                        <img src="assets/images/pooja/fire.png" alt="....">
                    </div>
                    <div class="media-body">
                        <h6 class="mt-3 mb-2 color-main2">
                            Congratulations and Good luck
                        </h6>
                    </div>
                </div>
                <div class="media">
                    <div class="icon-styled color-darkgrey fs-40">
                        <img src="assets/images/pooja/fire.png" alt="....">
                    </div>
                    <div class="media-body">
                        <h6 class="mt-3 mb-2 color-main2">
                            And others like Removal of Obstacles etc.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">


            <div class="inner-wrap ds bordered box-shadow p-30 p-xl-40">
                <div class="divider-15"></div>
                <h5 class="mb-4 color-main2 mt-0">Gift a Puja</h5>
                <form class="contact-form c-mb-10 c-gutter-10" method="post" action="/">

                    <div class="row">
                        <div class="col-12">
                            <div>
                                <label for="name">Select Type of Puja:<span class="required">*</span></label>
                                <select>
                                    <option value="" disabled selected>Select Type of Puja</option>
                                    <option value="Yes" style="z-index: 90000;">
                                        Online
                                    </option>
                                    <option value="No" style="z-index: 90000;">
                                        In Person
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Puja Performed at:<span class="required">*</span></label>
                                <select>
                                    <option value="" disabled selected>Puja Performed at</option>
                                    <option value="Yes" style="z-index: 90000;">
                                        Temple
                                    </option>
                                    <option value="No" style="z-index: 90000;">
                                        Priest
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">

                            <div>
                                <label for="name">Puja Name:<span class="required">*</span></label>
                                <select>
                                    <option value="" disabled selected>Puja Name</option>
                                    <option value="Yes" style="z-index: 90000;">
                                        Maha Yagya
                                    </option>
                                    <option value="No" style="z-index: 90000;">
                                        Puja
                                    </option>
                                    <option value="No" style="z-index: 90000;">
                                        Puja
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Select God Name:<span class="required">*</span></label>
                                <select>
                                    <option value="" disabled selected>Select God Name</option>
                                    <option value="Yes" style="z-index: 90000;">
                                        Laxmi Devi
                                    </option>
                                    <option value="No" style="z-index: 90000;">
                                        Durga Devi
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Recepient Name:<span class="required">*</span></label>
                                <input type="text" placeholder="Recepient Name:">
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Recepient Email:<span class="required">*</span></label>
                                <input type="text" placeholder="Recepient Email:">
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Recepient Mobile No:<span class="required">*</span></label>
                                <input type="text" placeholder="Recepient Mobile">
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Recepient Gothram:<span class="required">*</span></label>
                                <input type="text" placeholder="Recepient Gothram">
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Temple Name:<span class="required">*</span></label>
                                <input type="text" placeholder="Temple Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Date<span class="required">*</span></label>
                                <input type="date" formControlName="dob" class="form-control"
                                    placeholder="Date of Birth in DD/MM/YYYY *">
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Puja Purpose:<span class="required">*</span></label>
                                <input type="text" placeholder="Puja Purpose">
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Need Puja Material:<span class="required">*</span></label>
                                <select>
                                    <option value="" disabled selected>Need Puja Material</option>
                                    <option value="Yes" style="z-index: 90000;">
                                        Yes
                                    </option>
                                    <option value="No" style="z-index: 90000;">
                                        No
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label for="name">Add your wish<span class="required">*</span></label>
                                <textarea placeholder="Add your wish"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-30 mt-xl-50">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="submit" id="contact_form_submit" name="contact_submit"
                                    class="btn btn-maincolor btn-medium">Send
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="divider-15"></div>
            </div>


        </div>
        <div class="card">
        <img class="imgHover" src="assets/images/pooja/giftPooja.jpg" alt="..." ></div>
    </div>
</section>

<!-- <section class="ds bs container-px-xl-0 s-pb-90 s-pb-xl-0">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="col-lg-6 section-special with-margin left order-xl-1 order-2">
                <div class="z-index-2">
                    <div>
                        <div class="columns-one-grid">
                            <div class="media">
                                <h4>Some of our Pujas include:</h4>
                            </div>
                            <div class="media">
                                <div class="icon-styled color-darkgrey fs-40">
                                    <img src="assets/images/pooja/fire.png" alt="....">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-3 mb-2 color-main2">
                                        Recovery and Good Health
                                    </h6>
                                </div>
                            </div>
                            <div class="media">
                                <div class="icon-styled color-darkgrey fs-40">
                                    <img src="assets/images/pooja/fire.png" alt="....">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-3 mb-2 color-main2">
                                        Peace & Prosperity
                                    </h6>
                                </div>
                            </div>
                            <div class="media">
                                <div class="icon-styled color-darkgrey fs-40">
                                    <img src="assets/images/pooja/fire.png" alt="....">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-3 mb-2 color-main2">
                                        Birthdays
                                    </h6>
                                </div>
                            </div>
                            <div class="media">
                                <div class="icon-styled color-darkgrey fs-40">
                                    <img src="assets/images/pooja/fire.png" alt="....">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-3 mb-2 color-main2">
                                        New Job
                                    </h6>
                                </div>
                            </div>
                            <div class="media">
                                <div class="icon-styled color-darkgrey fs-40">
                                    <img src="assets/images/pooja/fire.png" alt="....">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-3 mb-2 color-main2">
                                        Examinations
                                    </h6>
                                </div>
                            </div>
                            <div class="media">
                                <div class="icon-styled color-darkgrey fs-40">
                                    <img src="assets/images/pooja/fire.png" alt="....">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-3 mb-2 color-main2">
                                        Congratulations and Good luck
                                    </h6>
                                </div>
                            </div>
                            <div class="media">
                                <div class="icon-styled color-darkgrey fs-40">
                                    <img src="assets/images/pooja/fire.png" alt="....">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-3 mb-2 color-main2">
                                        And others like Removal of Obstacles etc.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 order-xl-2 order-1">
                <img class="abs-link" src="assets/images/pooja/giftPooja.jpg" alt="....">
            </div>
            <div class="col-xl-3 col-lg-6 order-xl-3 order-3 col-absolute ml-auto mr-auto">
                <div class="inner-wrap ds bordered box-shadow p-30 p-xl-40">
                    <div class="divider-15"></div>
                    <h5 class="mb-4 color-main2 mt-0">Gift a Puja</h5>
                    <form class="contact-form c-mb-10 c-gutter-10" method="post" action="/">

                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <label for="name">Select Type of Puja:<span class="required">*</span></label>
                                    <select>
                                        <option value="" disabled selected>Select Type of Puja</option>
                                        <option value="Yes" style="z-index: 90000;">
                                            Online
                                        </option>
                                        <option value="No" style="z-index: 90000;">
                                            In Person
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Puja Performed at:<span class="required">*</span></label>
                                    <select>
                                        <option value="" disabled selected>Puja Performed at</option>
                                        <option value="Yes" style="z-index: 90000;">
                                            Temple
                                        </option>
                                        <option value="No" style="z-index: 90000;">
                                            Priest
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">

                                <div>
                                    <label for="name">Puja Name:<span class="required">*</span></label>
                                    <select>
                                        <option value="" disabled selected>Puja Name</option>
                                        <option value="Yes" style="z-index: 90000;">
                                            Maha Yagya
                                        </option>
                                        <option value="No" style="z-index: 90000;">
                                            Puja
                                        </option>
                                        <option value="No" style="z-index: 90000;">
                                            Puja
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Select God Name:<span class="required">*</span></label>
                                    <select>
                                        <option value="" disabled selected>Select God Name</option>
                                        <option value="Yes" style="z-index: 90000;">
                                            Laxmi Devi
                                        </option>
                                        <option value="No" style="z-index: 90000;">
                                            Durga Devi
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Recepient Name:<span class="required">*</span></label>
                                    <input type="text" placeholder="Recepient Name:">
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Recepient Email:<span class="required">*</span></label>
                                    <input type="text" placeholder="Recepient Email:">
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Recepient Mobile No:<span class="required">*</span></label>
                                    <input type="text" placeholder="Recepient Mobile">
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Recepient Gothram:<span class="required">*</span></label>
                                    <input type="text" placeholder="Recepient Gothram">
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Temple Name:<span class="required">*</span></label>
                                    <input type="text" placeholder="Temple Name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Date<span class="required">*</span></label>
                                    <input type="date" placeholder="Date">
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Puja Purpose:<span class="required">*</span></label>
                                    <input type="text" placeholder="Puja Purpose">
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Need Puja Material:<span class="required">*</span></label>
                                    <select>
                                        <option value="" disabled selected>Need Puja Material</option>
                                        <option value="Yes" style="z-index: 90000;">
                                            Yes
                                        </option>
                                        <option value="No" style="z-index: 90000;">
                                            No
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="name">Add your wish<span class="required">*</span></label>
                                    <textarea placeholder="Add your wish"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-30 mt-xl-50">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="submit" id="contact_form_submit" name="contact_submit"
                                        class="btn btn-maincolor btn-medium">Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="divider-15"></div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<app-footer></app-footer>