<div class="header_absolute ">

    <!--topline section visible only on small screens|-->
    <section class="page_topline ds s-py-30 ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-4 col-md-4 text-lg-left text-center">
                    <a href="./" class="logo">
                        <img src="assets/images/logo.png" alt="img">
                        <span class="logo-text color-darkgrey"></span>
                    </a>
                    <figcaption>Ishwar Se Prathna Ki Raah</figcaption>

                </div>
                <div class="col-xl-6 col-lg-8 col-md-8 some-links text-center text-lg-right d-flex justify-content-center justify-content-md-end align-items-center mt-2 mt-md-0">
                    <a class="fs-24 links-maincolor-hover font-2" href="tel:+88003532455"><mark>+91</mark>  7771947333</a>
                    <a (click)="toggle()" id="btToggle"pclass="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                        Login/SignUp Now
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--eof topline-->

    <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
    <header class="page_header ds ms s-overlay justify-nav-start">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-9 col-1 order-2 order-xl-1">
                    <div class="nav-wrap">

                        <!-- main nav start -->
                        <nav class="top-nav">
                            <ul class="nav sf-menu">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                    <!-- <ul>
                                        <li>
                                            <a href="index.html">MultiPage</a>
                                        </li>
                                        <li>
                                            <a href="index_singlepage.html">Single Page</a>
                                        </li>
                                        <li>
                                            <a href="index_blocks.html">Homeblocks</a>
                                        </li>
                                    </ul> -->
                                </li>

                                <!-- blog -->
                                <li>
                                    <a href="blog-right.html">Our Products</a>
                                    <!-- <ul>

                                        <li>
                                            <a href="blog-right.html">Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-left.html">Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-full.html">No Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html">Blog Grid</a>
                                        </li>

                                        <li>
                                            <a href="blog-single-right.html">Post</a>
                                            <ul>
                                                <li>
                                                    <a href="blog-single-right.html">Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-left.html">Left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-full.html">No Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="blog-single-video-right.html">Our Store</a>
                                            <ul>
                                                <li>
                                                    <a href="blog-single-video-right.html">Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-video-left.html">Left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-video-full.html">No Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul> -->
                                </li>
                                <!-- eof blog -->

                                <li>
                                    <a href="#">Our Store</a>
                                 
                                </li>
                                <!-- eof features -->


                                <li>
                                    <a href="about.html">Our Services</a>
                                  
                                </li>
                                <!-- eof pages -->

                                <!-- gallery -->
                                <li>
                                    <a href="/about">About US</a>
                                    
                                </li>
                                <!-- eof Gallery -->
                              
                                <!-- eof contacts -->
                            </ul>


                        </nav>
                        <!-- eof main nav -->

                    </div>
                </div>
                <div class="col-xl-3 col-9 order-1 order-xl-2 text-xl-right text-left">
                    <span class="social-icons">

                        <a href="https://www.facebook.com/" class="fa fa-facebook " title="facebook"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter " title="twitter"></a>
                        <a href="https://www.linkedin.com/" class="fa fa-linkedin " title="linkedin"></a>
                        <a href="https://www.instagram.com/" class="fa fa-instagram " title="instagram"></a>
                        <a href="https://www.youtube.com/" class="fa fa-youtube-play " title="youtube"></a>

                    </span>
                </div>
            </div>
        </div>
        <!-- header toggler -->
        <span class="toggle_menu"><span></span></span>
    </header>

</div>
		
<div style="display:none" id="divshow2">
    <app-login></app-login>
</div>
<div style="display:none" id="divreg">
    <app-register></app-register>
</div>