<div class="preloader" *ngIf="loader">
	<div class="preloader_image pulse"></div>
</div>

<div class="header_absolute ">

    <!--topline section visible only on small screens|-->
    <section class="page_topline ds s-py-30 ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-4 col-md-4 text-lg-left text-center">
                    <a href="./" class="logo">
                        <img src="assets/images/logo.png" alt="img">
                        <span class="logo-text color-darkgrey"></span>
                    </a>
                    <figcaption>ईश्वर से प्रार्थना की राह...<img width="50px" src="assets/images/pag.png" alt=""> </figcaption>

                </div>
                <div *ngIf="currentUser == null" class="col-xl-6 col-lg-8 col-md-8 some-links text-center text-lg-right d-flex justify-content-center justify-content-md-end align-items-center mt-2 mt-md-0">
                    <a class="fs-24 links-maincolor-hover font-2" href="tel:+917771947333"><mark>+91</mark>  7771947333</a>
                    <a (click)="toggle()" id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                        Login/SignUp Now
                    </a>
                    <a href="/cart" class="cart">
                        <span class="notify-badge">{{cartLength}}</span>
                        <img src="assets/images/shopping-cart.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="currentUser as user" class="head_username">
            <div class="psl_login">
                Hi {{(user.user.name) ? user.user.name : 'User'}}&nbsp;&nbsp;
            </div>
        </div>
        <div *ngIf="currentUser" class="head_username">
            <div class="psl_logout">
                <a  (click)="logout() ">Logout</a>
            </div>
        </div> 
    </section>
    <!--eof topline-->

    <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
    <header class="page_header ds ms s-overlay justify-nav-start">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-9 col-1 order-2 order-xl-1">
                    <div class="nav-wrap">

                        <!-- main nav start -->
                        <nav class="top-nav">
                            <ul class="nav sf-menu">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                    <!-- <ul>
                                        <li>
                                            <a href="index.html">MultiPage</a>
                                        </li>
                                        <li>
                                            <a href="index_singlepage.html">Single Page</a>
                                        </li>
                                        <li>
                                            <a href="index_blocks.html">Homeblocks</a>
                                        </li>
                                    </ul> -->
                                </li>

                                <!-- blog -->
                                
                                <li>
                                    <a href="./shop">Our Store</a>
                                    <!-- <ul>

                                        <li>
                                            <a href="./shop">Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-left.html">Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-full.html">No Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html">Blog Grid</a>
                                        </li>

                                        <li>
                                            <a href="blog-single-right.html">Post</a>
                                            <ul>
                                                <li>
                                                    <a href="blog-single-right.html">Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-left.html">Left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-full.html">No Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="blog-single-video-right.html">Our Store</a>
                                            <ul>
                                                <li>
                                                    <a href="blog-single-video-right.html">Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-video-left.html">Left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-video-full.html">No Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul> -->
                                </li>
                                <!-- eof blog -->
                                <li>
                                    <a href="">Our Services</a>
                                  
                                </li>
                                <!-- eof pages -->

                                <!-- gallery -->
                                <li>
                                    <a href="/director">About US</a>
                                    
                                </li>
                                <!-- eof Gallery -->
                              
                                <!-- eof contacts -->
                            </ul>


                        </nav>
                        <!-- eof main nav -->

                    </div>
                </div>
                <div class="col-xl-3 col-9 order-1 order-xl-2 text-xl-right text-left">
                    <span class="social-icons">

                        <a href="https://www.facebook.com/PanditsTeam/" class="fa fa-facebook " title="facebook"></a>
                        <a href="https://twitter.com/DivyaPuja8/" class="fa fa-twitter " title="twitter"></a>
                        <a href="https://www.linkedin.com/in/divyapuja-pundits-team-0572671b4/" class="fa fa-linkedin " title="linkedin"></a>
                        <a href="https://www.instagram.com/_divyapuja_/" class="fa fa-instagram " title="instagram"></a>
                        <a href="https://www.youtube.com/channel/UCE1x342P7L-BkuJdlvkPMGw" class="fa fa-youtube-play " title="youtube"></a>

                    </span>
                </div>
            </div>
        </div>
        <!-- header toggler -->
        <span class="toggle_menu"><span></span></span>
    </header>

</div>
		
<div style="display:none" id="divshow2">
    <app-login></app-login>
</div>
