.psl_login{position: absolute;
right: 0;
top: 35%;
}
.psl_logout{
    position: absolute;
    right: 0;
    top: 50%;
}

.cart{
    width: 5%;
}
.notify-badge{
    position: absolute;
    right: -6px;
    top: 0px;
    background: red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 0px 6px;
    font-size: 20px;
}