

 <div class="container-fluid" style="
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 99999999;
    width:100% !important" id ="login_div">
                     <!-- Loader Section End -->

                     <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ds bs box-shadow bordered overflow-visible s-overlay s-mobile-overlay">
                            <button type="button" (click)="toggleclose()" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                       
                                        <div class="col-12">
                                            <h4 class="color-main2 mb-3">Log in</h4>
                                            <form class="form-registration c-mb-20 c-gutter-20" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                                <div class="row mb-4">
                                                    <div class="col-sm-12">
                                                       
                                                        <div class="form-group">
                                                            <label for="firstName">Username</label>
                                                            <input type="text" formControlName="username" class="form-control"
                                                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                                                <div *ngIf="f.username.errors.required">username is required</div>
                                                            </div>
                                                        </div>
                                                    <div class="col-sm-12">
                                                       
                                                        <div class="form-group">
                                                            <label for="password">Password</label>
                                                            <input type="password" formControlName="password" class="form-control"
                                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <a class="registerRedirect "  (click)="togglereg()" data-dismiss="modal" data-target="#popupRegistr" data-toggle="modal" href="#">Not a member? Register!</a>
                                                <button type="submit" class="btn btn-maincolor mt-30 d-block">Sign In</button>
                                            </form>
            
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div style="display:none" id="divreg">
                    <app-register></app-register>
                </div>
                <!-- Loader Section Start -->
              
            