<!--Section About-->
<section id="about" class="ds s-py-90 s-py-xl-150 c-gutter-50">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6">
                <img src="assets/images/logo.png" alt="img">
                <figcaption>ईश्वर से प्रार्थना की राह</figcaption>

            </div>
            <div class="col-lg-6 text-center text-md-left">
                <div class="divider-60 divider-lg-0 "></div>
                <p class="text-white text-center text-md-left fs-20 line-right mb-0">

                </p>
                <h3 class="special-heading mt-2 fs-60 text-center text-md-left">
                    <span>About Us</span>
                </h3>
                <div class="divider-35"></div>
                <p>
                    Divyapuja is one of the finest and most reliable online portals to carry
                    out various pujas. We predominantly focus on Devotee’s satisfaction
                    pertaining to puja which is the core thing of our online portal. We
                    ensure nuisance free services to our customers starting from puja
                    booking to the entire puja accomplishment process.
                </p>
                <p>We have highly
                    qualified priests who conduct every single step within the puja with
                    utmost solemnity and dedication. We have 500 plus temples within our
                    area of accessibility for conduction of puja rituals and customs. Our
                    dedication towards our work assures our credibility. Everything being
                    online has made things simpler and trouble-free. We basically avail the
                    Youth to understand the actual relevance of Puja and all other Hindu
                    rituals in a deeper sense.
                </p>
                <div class="shortcode-simple-counter counter-layout-2">
                    <div class="counter_wrap justify-content-md-start">
                        <div class="counter-wrap">

                        </div>
                        <p class="counter-text ">

                        </p>
                    </div>
                </div>
                <div class="divider-30 divider-xl-50"></div>

            </div>
        </div>
    </div>
</section>