<!--Section Forecast-->
<section id="forecasts"
    class="ds section-forecast s-overlay s-pt-90 s-pb-30 s-pt-xl-150 s-pb-xl-90 c-gutter-60 c-mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-0">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Astrology Services</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Choose Your Zodiac Sign <br> Read Your Daily
                        Horoscope Today</span>
                </p>

                <div class="divider-40 divider-xl-60"></div>
            </div>
            <div class="divider-35" style="text-align: center; margin: 15px;">
                <a href="/astro-form" class="btn btn-outline-maincolor btn-medium">Register Yourself as Astrologer</a>


            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div routerLink="astro-sign" class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/aries" class="color-darkgrey ico ico-icon_aries"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/aries">Aries</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box" routerLink="astro-sign">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/taures" class="color-darkgrey ico ico-icon_taurus"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/taures">Taurus</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/gemini" class="color-darkgrey ico ico-icon_gemini"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/gemini">Gemini</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/cancer" class="color-darkgrey ico ico-icon_cancer"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/cancer">Cancer</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/leo" class="color-darkgrey ico ico-icon_leo"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/leo">Leo</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/virgo" class="color-darkgrey ico ico-icon_virgo"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/virgo">Virgo</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/libra" class="color-darkgrey ico ico-icon_libra"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/libra">Libra</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/scorpio" class="color-darkgrey ico ico-icon_scorpio"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/scorpio">Scorpio</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/sagittarius" class="color-darkgrey ico ico-icon_sagittarius"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/sagittarius">Sagittarius</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/capricornius" class="color-darkgrey ico ico-icon_capricornius"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/capricornius">Capricornius</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/aquarius" class="color-darkgrey ico ico-icon_aquarius"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/aquarius">Aquarius</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="./astro-sign/pisces" class="color-darkgrey ico ico-icon_pisces"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="./astro-sign/pisces">Pisces</a>
                        </h5>
                        <p>
                            05 - Aug - 2020
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
        </div>

    </div>

    <div class="horizonFlow">
        <div class="row astro-rw">
            <div routerLink="astro-sign" class="vertical-item text-center  content-padding corner-box">
                <div class="item-content">
                    <div class="column astro-cl">
                        <img class="astro-cl-img" src="assets/images/astro/kundali.jpg" alt="Snow">
                    </div>
                    <h5 class="mt-4 mt-lg-5 fs-20">
                        <a href="./kundli">Kundali</a>
                    </h5>
                </div>
            </div>
            <div routerLink="astro-sign" class="vertical-item text-center  content-padding corner-box">
                <div class="item-content">
                    <div class="column astro-cl">
                        <img class="astro-cl-img" src="assets/images/astro/palm.jpg" alt="Snow">
                    </div>
                    <h5 class="mt-4 mt-lg-5 fs-20">
                        <a href="./palmistry">Palmistry</a>
                    </h5>
                </div>
            </div>
            <div routerLink="astro-sign" class="vertical-item text-center  content-padding corner-box">
                <div class="item-content">
                    <div class="column astro-cl">
                        <img class="astro-cl-img" src="assets/images/astro/reiki.jpg" alt="Snow">
                    </div>
                    <h5 class="mt-4 mt-lg-5 fs-20">
                        <a href="./reikihealing">Reiki Healing</a>
                    </h5>
                </div>
            </div>
            <div routerLink="astro-sign" class="vertical-item text-center  content-padding corner-box">
                <div class="item-content">
                    <div class="column astro-cl">
                        <img class="astro-cl-img" src="assets/images/astro/terot.jpg" alt="Snow">
                    </div>
                    <h5 class="mt-4 mt-lg-5 fs-20">
                        <a href="">Tarot Reading</a>
                    </h5>
                </div>
            </div>
            <div routerLink="astro-sign" class="vertical-item text-center  content-padding corner-box">
                <div class="item-content">
                    <div class="column astro-cl">
                        <img class="astro-cl-img" src="assets/images/astro/num.jpg" alt="Snow">
                    </div>
                    <h5 class="mt-4 mt-lg-5 fs-20">
                        <a href="">Numerology</a>
                    </h5>
                </div>
            </div>
            <div routerLink="astro-sign" class="vertical-item text-center  content-padding corner-box">
                <div class="item-content">
                    <div class="column astro-cl">
                        <img class="astro-cl-img" src="assets/images/team/expertpanel.jpg" alt="Snow">
                    </div>
                    <h5 class="mt-4 mt-lg-5 fs-20">
                        <a href="./astro-expert">Our Expert Panel</a>
                    </h5>
                </div>
            </div>
        </div>
    </div><!-- .col-* -->

    
</section>