<!--Section Forecast-->
<section id="forecasts"
    class="ds section-forecast s-overlay s-pt-90 s-pb-30 s-pt-xl-150 s-pb-xl-90 c-gutter-60 c-mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-0">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Astrology Services</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span>Choose Your Zodiac Sign <br> Read Your Daily
                        Horoscope Today</span>
                </p>

                <div class="divider-40 divider-xl-60"></div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_aries"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Aries</a>
                        </h5>
                        <p>
                            Mar 21 - Apr 19
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_taurus"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Taurus</a>
                        </h5>
                        <p>
                            Apr 20 - May 20
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_gemini"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Gemini</a>
                        </h5>
                        <p>
                            May 21 - Jun 20
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_cancer"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Cancer</a>
                        </h5>
                        <p>
                            Jun 21 - Jul 22
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_leo"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Leo</a>
                        </h5>
                        <p>
                            Jul 23 - Aug 22
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_virgo"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Virgo</a>
                        </h5>
                        <p>
                            Aug 23 - Sep 22
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_libra"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Libra</a>
                        </h5>
                        <p>
                            Sep 23 - Oct 22
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_scorpio"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Scorpio</a>
                        </h5>
                        <p>
                            Oct 23 - Nov 21
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_sagittarius"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Sagittarius</a>
                        </h5>
                        <p>
                            Nov 22 - Dec 21
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_capricornius"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Capricornius</a>
                        </h5>
                        <p>
                            Dec 22 - Jan 19
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_aquarius"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Aquarius</a>
                        </h5>
                        <p>
                            Jan 20 - Feb 18
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="vertical-item text-center  content-padding corner-box">
                    <div class="item-content">
                        <div class="icon-styled fs-50">
                            <a href="forecast-page.html" class="color-darkgrey ico ico-icon_pisces"></a>
                        </div>
                        <h5 class="mt-4 mt-lg-5 fs-20 links-maincolor2">
                            <a href="forecast-page.html">Pisces</a>
                        </h5>
                        <p>
                            Feb 19 - Mar 20
                        </p>
                    </div>
                </div>
            </div><!-- .col-* -->
        </div>
      
</div> 
<div class="astro-service" style="  left: 6%;">
    <div class="row astro-rw">
        <div class="column astro-cl">
            <img class = "astro-cl-img" src="assets/images/astro/kundali.png" alt="Snow" style="width:100%">
        </div>
        <div class="column astro-cl">
            <img class = "astro-cl-img" src="assets/images/astro/palm.png" alt="Forest" style="width:100%">
        </div>
        <div class="column astro-cl">
            <img class = "astro-cl-img" src="assets/images/astro/reiki.png" alt="Mountains" style="width:100%">
        </div>
        <div class="column astro-cl">
            <img class = "astro-cl-img" src="assets/images/astro/terot.png" alt="Mountains" style="width:100%">
        </div>
        <div class="column astro-cl">
            <img class = "astro-cl-img" src="assets/images/astro/num.png" alt="Mountains" style="width:100%">
        </div>
</div>
   
    </div>
</section>