<!-- Section Blog -->
<section id="blog" class="ds bs pattern s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <h3 class="special-heading mt-2 fs-60 text-center text-md-left">
                    <span>Pandit Booking</span>
                </h3>
                <p class="text-white text-center text-md-left fs-20 line-right mb-0">
                    <span></span>
                </p>

            </div>
            <div class="col-xl-7 col-lg-6 text-center text-md-left">
                <p class="text-center text-md-left  mt-4 mt-lg-0">
                    <span> 
                    </span>
                </p>
                <div class="divider-35"></div>
                <a href="/book-pandit" class="btn btn-outline-maincolor btn-medium">Book Your Panditji Now</a>
                <a href="/pandit-form" class="btn btn-outline-maincolor btn-medium" style="left: 40px;">Register Yourself as Panditji</a>
            </div>
            <div class="col-12">
                <div class="divider20"></div>
                <div class="shortcode-post-grid-tilled-1">
                    <div class="special-img">
                        <img src="assets/images/services/pandit.jpg" alt="img">
                    </div>
                    <article
                        class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail mt-0">
                        <div class="item-content">
                            <div class="divider-20"></div>
                            <header class="entry-header">
                                <h4 class="entry-title mb-3 links-maincolor2">
                                    <a class="fs-30" href="blog-single-right.html" rel="bookmark">
                                        Now Book Your Panditji At Your Doorstep
                                    </a>
                                </h4>
                            </header>
                            <!-- .entry-header -->

                            <div class="entry-content mt-20">
                                <p>
                                    Using this rel igious platform, devotees have the convenience of booking a seva
                                    /puja
                                    service without any hassles saving time that would other wise be spend in the
                                    queues. Using the Website or the Mobile App, devotees can book a puja onl ine from
                                    any of the temple l isted. Not only Sevas or darshans at Temples, Devotees can also
                                    book a Pujari onl ine for any rituals. We are an Onl ine platform which brings
                                    Temples,
                                    Pujaris and Devotees together for a hassle - free spiritual experience. For
                                    Devotees,
                                    we also have (V.I .P) Darshan Facil ities as our services.
                                </p>
                            </div><!-- .entry-content -->
                            <div class="entry-footer flex-row mt-4">
                                <div class="entry-meta">
                                    <span>
                                        <a href="blog-single-right.html" rel="bookmark">
                                            
                                        </a>
                                    </span>
                                </div>
                                <!-- .entry-meta -->
                                <div class="mt-0 ml-auto">
                                    <a href="book-pandit" class="mt-30 font-2">Book Now <i
                                            class="fa fa-caret-right color-main ml-2"></i></a>
                                </div>
                            </div>
                        </div><!-- .item-content -->

                    </article><!-- #post-## -->
                    <article
                        class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail mt-0">
                        <div class="item-content">
                            <div class="divider-50"></div>
                            <header class="entry-header">
                                <h4 class="entry-title mb-3 links-maincolor2">
                                    <a class="fs-30" href="blog-single-right.html" rel="bookmark">
                                     Register Yourself as Panditji At  DivyaPuja
                                    </a>
                                </h4>
                            </header>
                            <!-- .entry-header -->

                            <div class="entry-content mt-20">
                                <p>
                                    This platform also give new apportunities to Panditji's to connect with more and more people digitally.
                                    A mordern approach towards the mordern world with our rich Hindu Culture.
                                </p>
                            </div><!-- .entry-content -->
                            <div class="entry-footer flex-row mt-4">
                                <div class="entry-meta">
                                    <span>
                                        <a href="blog-single-right.html" rel="bookmark">

                                        </a>
                                    </span>
                                </div>
                                <!-- .entry-meta -->
                                <div class="mt-0 ml-auto">
                                    <a href="blog-single-right.html" class="mt-30 font-2">Register as Panditji  <i
                                            class="fa fa-caret-right color-main ml-2"></i></a>
                                </div>
                            </div>
                        </div><!-- .item-content -->
                    </article><!-- #post-## -->
   
                </div>
            
            </div>

        </div>
    </div>
</section>