.card{
    background-color:transparent;
    color:white;
    margin: 2%;
    box-shadow: 0px 0px 2px black;
}

.container{
    padding: 20px;
}

.modal-content{
    background-color: #151b31;
    color:white
}