<app-navbar></app-navbar>

<div class="divider-60"></div>
<section class="page_title ds s-overlay s-parallax s-pt-130 s-pt-xl-150 s-pb-65">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1>Consult for Vastu</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Vastu Consultant
                    </li>
                </ol>
            </div>

        </div>
    </div>
</section>
<section class="ds s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="vertical-item content-padding ds bs box-shadow bordered">
                    <div class="item-media">
                        <div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1"
                            data-responsive-sm="1" data-responsive-xs="1" data-dots="true">
                                <img src="assets/images/gallery/vastu3.jpg" alt="img">
                                <img src="assets/images/gallery/vastu2.jpg" alt="img">
                                <img src="assets/images/gallery/vastu1.jpg" alt="img">
                                <img src="assets/images/gallery/vastu4.jpg" alt="img">
                            <!-- <a href="" class="photoswipe-link" data-width="850" data-height="400"
                                data-iframe="//player.vimeo.com/video/1084537">
                                <img src="assets/images/gallery/06.jpg" alt="img">
                            </a> -->
                        </div>
                    </div>
                    <div class="item-content">
                        <p>
                            Normally everybody is not aware of the Vastu and the basic directions. We explain you about the basic directions, how to analyze them, where these directions are situated in your building structure. What is there significance and power. <br>
                            We provide services for commercial, residential, spiritual, educational, Industrial vastu. 
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section class="ds woocommerce s-py-90 s-py-xl-150 c-gutter-60">
    <div class="container">
        <div class="row">
            <main class="col-lg-8 order-lg-2 d-flex align-self-center align-items-center">
                <div>
                    <p> <b>Power of Pyramid Yantra</b>
                        It can help you in all phases of life; let it be for love, business or health. Inside the catalog there are tools that can be used for vastu and Fengshui corrections, for personal help and for professional use.
                    </p>
                    <p><b>Crystals</b>
                        Crystals represent Earth energy, one of the five Chinese elements along with Wood, Fire, Water and Metal. On the Bagua, a tool used by feng shui practitioners, Earth energy supports Partnership, Love and Romance.
                    </p>
                    <p><b>Gemstone</b>
                        gemstones are recommended based on your horoscope. It is believed that by wearing these prescribed gemstones you can overcome the obstacles in your chart.
                    </p>
                    <p><b>Rudraksha</b>
                        It is a gift to human being from Lord Shiva so as to eliminate their sorrows and miseries. Rudraksha can change the negative energy field around an individual into the positive, so as to make him successful and happier.
                    </p>
                </div>
                <!-- columns 2 -->
            </main>
            <aside class="col-lg-4 order-lg-1">


                <div class="widget woocommerce widget_product_categories">
                    <h3 class="widget-title">Products</h3>
                    <ul class="product-categories">
                        <li class="cat-item cat-parent">
                            <a href="">Pyramid</a>
                        </li>
                        <li class="cat-item cat-parent">
                            <a href="">Crystal</a>
                        </li>
                        <li class="cat-item">
                            <a href="">Gemstone</a>
                        </li>
                        <li class="cat-item cat-parent">
                            <a href="">Rudraksha</a>
                        </li>
                        <li class="cat-item">
                            <a href="">Yantra</a>
                        </li>
                        <li class="cat-item">
                            <a href="">Vastu Gold/Silver Idols</a>
                        </li>
                    </ul>
                </div>

            </aside>
        </div>

    </div>
</section>
<section class="m-4">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="assets/images/gallery/vastu1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Residential Vastu Shastra</h5>
                <p class="card-text">We have some keen observation on construction of flats , generally flats means
                    nothing but group of houses, whether they belong to one building.</p>
                <a id="btToggle" class="btn btn-outline-maincolor btn-medium d-md-block" data-toggle="modal" data-target="#modalRegisterForm"> Click for Query </a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/gallery/vastu2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Commercial Vastu Shastra</h5>
                <p class="card-text">They should be designed carefully so as that there is a balance in the movement of
                    the work and the office should be in control of the owner.</p>
                <a id="btToggle" class="btn btn-outline-maincolor btn-medium d-md-block" data-toggle="modal" data-target="#modalRegisterForm"> Click for Query </a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/gallery/vastu4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Industrial Vastu Shastra</h5>
                <p class="card-text">If the factory is facing some serious troubles then think once about bad street
                    focuses, generally the bad street focuses spoils factory life.</p>
                <a id="btToggle" class="btn btn-outline-maincolor btn-medium d-md-block" data-toggle="modal"
                    data-target="#modalRegisterForm"> Click for Query </a>
            </div>
        </div>
    </div>
</section>





<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Query For Vastu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <input type="text" placeholder="Your name" class="form-control validate">
                </div>

                <div class="md-form mb-5">
                    <input type="email" placeholder="Your email" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <input type="text" placeholder="Mobile No." class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <input type="text" placeholder="State" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <input type="date" id="date" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="date">Preferred Date</label>
                </div>

                <div class="md-form mb-4">
                    <input type="time" placeholder="Preferred Time" class="form-control validate">
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-deep-orange">Submit</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>