<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

<div class="preloader">
	<div class="preloader_image pulse"></div>
</div>
<app-navbar></app-navbar>
<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="widget widget_search">
		<form method="get" class="searchform search-form" action="/">
			<div class="form-group">
				<input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
					id="modal-search-input">
			</div>
			<button type="submit" class="btn">Search</button>
		</form>
	</div>
</div>

<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
	<div class="fw-messages-wrap ls p-normal">
		<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
		<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

	</div>
</div><!-- eof .modal -->

<div class="modal fade popupLogin" id="popupLogin" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content ds bs box-shadow bordered overflow-visible s-overlay s-mobile-overlay">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h4 class="color-main2 mb-3">Log in</h4>
							<form class="form-registration c-mb-20 c-gutter-20" action="/">
								<div class="row mb-4">
									<div class="col-sm-12">
										<div class="form-group">
											<input type="text" name="name" class="form-control" required
												placeholder="login" aria-required="true">
										</div>
									</div>
									<div class="col-sm-12">
										<div class="form-group">
											<input type="password" name="password" class="form-control"
												placeholder="password" aria-required="true" required>
										</div>
									</div>
								</div>
								<a class="registerRedirect " data-dismiss="modal" data-target="#popupRegistr"
									data-toggle="modal" href="#">Not a member? Register!</a>
								<button type="submit" class="btn btn-maincolor mt-30 d-block">Sign In</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade popupRegistr" id="popupRegistr" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content ds bs box-shadow bordered overflow-visible s-overlay s-mobile-overlay">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h4 class="color-main2 mb-4">Registration</h4>
							<form class="form-registration c-mb-20 c-gutter-20" method="post" action="/">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<input type="text" name="name" class="form-control" required
												placeholder="login" aria-required="true">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="password" name="password" class="form-control"
												placeholder="password" aria-required="true" required>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="email" name="email" class="form-control" placeholder="email"
												required aria-required="true">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="password" name="confirmPassword" class="form-control"
												placeholder="password" required aria-required="true">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="checkbox" id="agreed" name="agreed" value="agreed" required
												aria-required="true"><label for="agreed">I agree to the rules</label>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-maincolor mt-30 d-block">Registration</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
	<div id="box_wrapper">


		<section class="page_title ds s-overlay s-parallax s-pt-130 s-pt-xl-150 s-pb-65">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<h1>Horoscope</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="./">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#">Pages</a>
							</li>
							<li class="breadcrumb-item active">
								Horoscope
							</li>
						</ol>
					</div>

				</div>
			</div>
		</section>

		<section class="ds s-py-90 s-py-xl-160 c-gutter-60">
			<div class="container">
				<div class="row">

					<div class="col-lg-4">
						<ul class="list-menu">
							<li [routerLink]="['/astro-sign', 'aries']" routerLinkActive="current-menu-item">
								<a>
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_aries"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Aries
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'taurus']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_taurus"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Taurus
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'gemini']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_gemini"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Gemini
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'cancer']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_cancer"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Cancer
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'leo']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_leo"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Leo
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'virgo']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_virgo"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Virgo
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<!-- <li class="current-menu-item"> -->
							<li>
								<a [routerLink]="['/astro-sign', 'libra']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_libra"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Libra
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'scorpio']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_scorpio"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Scorpio
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'sagittarius']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_sagittarius"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Sagittarius
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'capricornius']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_capricornius"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Capricornius
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'aquarius']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_aquarius"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Aquarius
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'pisces']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_pisces"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Pisces
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
						</ul>

					</div>

					<div class="col-lg-8 ">
						<div class="divider-60 divider-lg-0"></div>
						<div class="vertical-item content-padding padding-big corner-box text-md-left text-center">
							<div class="item-content">
								<div class="media vertical_box big-media">
									<div [ngSwitch]="sign" class="icon-styled color-darkgrey fs-200">
										<i *ngSwitchCase="'aries'" class="color-darkgrey ico ico-icon_aries"></i>
										<i *ngSwitchCase="'taurus'" class="color-darkgrey ico ico-icon_taurus"></i>
										<i *ngSwitchCase="'gemini'" class="color-darkgrey ico ico-icon_gemini"></i>
										<i *ngSwitchCase="'cancer'" class="color-darkgrey ico ico-icon_cancer"></i>
										<i *ngSwitchCase="'leo'" class="color-darkgrey ico ico-icon_leo"></i>
										<i *ngSwitchCase="'virgo'" class="color-darkgrey ico ico-icon_virgo"></i>
										<i *ngSwitchCase="'libra'" class="color-darkgrey ico ico-icon_libra"></i>
										<i *ngSwitchCase="'scorpio'" class="color-darkgrey ico ico-icon_scorpio"></i>
										<i *ngSwitchCase="'sagittarius'" class="color-darkgrey ico ico-icon_sagittarius"></i>
										<i *ngSwitchCase="'capricornius'" class="color-darkgrey ico ico-icon_capricornius"></i>
										<i *ngSwitchCase="'aquarius'" class="color-darkgrey ico ico-icon_aquarius"></i>
										<i *ngSwitchCase="'pisces'" class="color-darkgrey ico ico-icon_pisces"></i>
										
										<i *ngSwitchDefault="'aries'" class="color-darkgrey ico ico-icon_aries"></i>
									</div>
									<div [ngSwitch]="sign" class="media-body">
										<h6 *ngSwitchCase="'aries'" class="mb-0 fs-40 color-main2">
											Aries
										</h6>
										<h6 *ngSwitchCase="'taurus'" class="mb-0 fs-40 color-main2">
											Taurus
										</h6>
										<h6 *ngSwitchCase="'gemini'" class="mb-0 fs-40 color-main2">
											Gemini
										</h6>
										<h6 *ngSwitchCase="'cancer'" class="mb-0 fs-40 color-main2">
											Cancer
										</h6>
										<h6 *ngSwitchCase="'leo'" class="mb-0 fs-40 color-main2">
											Leo
										</h6>
										<h6 *ngSwitchCase="'virgo'" class="mb-0 fs-40 color-main2">
											Virgo
										</h6>
										<h6 *ngSwitchCase="'libra'" class="mb-0 fs-40 color-main2">
											Libra
										</h6>
										<h6 *ngSwitchCase="'scorpio'" class="mb-0 fs-40 color-main2">
											Scorpio
										</h6>
										<h6 *ngSwitchCase="'sagittarius'" class="mb-0 fs-40 color-main2">
											Sagittarius
										</h6>
										<h6 *ngSwitchCase="'capricornius'" class="mb-0 fs-40 color-main2">
											Capricornius
										</h6>
										<h6 *ngSwitchCase="'aquarius'" class="mb-0 fs-40 color-main2">
											Aquarius
										</h6>
										<h6 *ngSwitchCase="'pisces'" class="mb-0 fs-40 color-main2">
											Pisces
										</h6>

										<h6 *ngSwitchDefault="'aries'" class="mb-0 fs-40 color-main2">
											Aries
										</h6>
										
										<p class="fs-20">
											{{currentDate | date:'yyyy-MM-dd'}}
										</p>
									</div>
								</div>
								<div class="divider-30 divider-xl-50"></div>

								<div [ngSwitch]="sign">
								<p *ngSwitchCase="'aries'">{{signData}}</p>

								<p *ngSwitchCase="'taurus'">{{signData}}</p>

								<p *ngSwitchCase="'gemini'">{{signData}}</p>

								<p *ngSwitchCase="'cancer'">{{signData}}</p>

								<p *ngSwitchCase="'leo'">{{signData}}</p>

								<p *ngSwitchCase="'virgo'">{{signData}}</p>

								<p *ngSwitchCase="'libra'">{{signData}}</p>

								<p *ngSwitchCase="'scorpio'">{{signData}}</p>

								<p *ngSwitchCase="'sagittarius'">{{signData}}</p>

								<p *ngSwitchCase="'capricornius'">{{signData}}</p>

								<p *ngSwitchCase="'aquarius'">{{signData}}</p>

								<p *ngSwitchCase="'pisces'">{{signData}}</p>

								<p *ngSwitchDefault="'aries'">{{signData}}</p>
								</div>
							</div>
						</div>

					</div><!-- .col-* -->

					
				</div>
			</div>
		</section>
		<app-footer></app-footer>

	</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->