
<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

<div class="preloader">
	<div class="preloader_image pulse"></div>
</div>
<app-navbar></app-navbar>
<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="widget widget_search">
		<form method="get" class="searchform search-form" action="/">
			<div class="form-group">
				<input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
					id="modal-search-input">
			</div>
			<button type="submit" class="btn">Search</button>
		</form>
	</div>
</div>

<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
	<div class="fw-messages-wrap ls p-normal">
		<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
		<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

	</div>
</div><!-- eof .modal -->

<div class="modal fade popupLogin" id="popupLogin" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content ds bs box-shadow bordered overflow-visible s-overlay s-mobile-overlay">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h4 class="color-main2 mb-3">Log in</h4>
							<form class="form-registration c-mb-20 c-gutter-20" action="/">
								<div class="row mb-4">
									<div class="col-sm-12">
										<div class="form-group">
											<input type="text" name="name" class="form-control" required
												placeholder="login" aria-required="true">
										</div>
									</div>
									<div class="col-sm-12">
										<div class="form-group">
											<input type="password" name="password" class="form-control"
												placeholder="password" aria-required="true" required>
										</div>
									</div>
								</div>
								<a class="registerRedirect " data-dismiss="modal" data-target="#popupRegistr"
									data-toggle="modal" href="#">Not a member? Register!</a>
								<button type="submit" class="btn btn-maincolor mt-30 d-block">Sign In</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade popupRegistr" id="popupRegistr" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content ds bs box-shadow bordered overflow-visible s-overlay s-mobile-overlay">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h4 class="color-main2 mb-4">Registration</h4>
							<form class="form-registration c-mb-20 c-gutter-20" method="post" action="/">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<input type="text" name="name" class="form-control" required
												placeholder="login" aria-required="true">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="password" name="password" class="form-control"
												placeholder="password" aria-required="true" required>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="email" name="email" class="form-control" placeholder="email"
												required aria-required="true">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="password" name="confirmPassword" class="form-control"
												placeholder="password" required aria-required="true">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="checkbox" id="agreed" name="agreed" value="agreed" required
												aria-required="true"><label for="agreed">I agree to the rules</label>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-maincolor mt-30 d-block">Registration</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
	<div id="box_wrapper">


		<section class="page_title ds s-overlay s-parallax s-pt-130 s-pt-xl-150 s-pb-65">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<h1>Horoscope</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="./">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#">Pages</a>
							</li>
							<li class="breadcrumb-item active">
								Horoscope
							</li>
						</ol>
					</div>

				</div>
			</div>
		</section>

		<section class="ds s-py-90 s-py-xl-160 c-gutter-60">
			<div class="container">
				<div class="row">

					<div class="col-lg-4">
						<ul class="list-menu">
							<li [routerLink]="['/astro-sign', 'aries']" routerLinkActive="current-menu-item">
								<a>
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_aries"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Aries
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'taurus']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_taurus"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Taurus
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'gemini']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_gemini"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Gemini
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'cancer']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_cancer"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Cancer
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'leo']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_leo"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Leo
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'virgo']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_virgo"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Virgo
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<!-- <li class="current-menu-item"> -->
							<li>
								<a [routerLink]="['/astro-sign', 'libra']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_libra"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Libra
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'scorpio']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_scorpio"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Scorpio
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'sagittarius']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_sagittarius"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Sagittarius
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'capricornius']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_capricornius"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Capricornius
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'aquarius']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_aquarius"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Aquarius
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a [routerLink]="['/astro-sign', 'pisces']">
									<div class="media vertical_box">
										<div class="icon-styled color-darkgrey fs-40">
											<i class="color-darkgrey ico ico-icon_pisces"></i>
										</div>
										<div class="media-body">
											<h6 class="mb-0 fs-20 color-main2">
												Pisces
											</h6>
											<p>
												{{currentDate | date:'yyyy-MM-dd'}}
											</p>
										</div>
									</div>
								</a>
							</li>
						</ul>

					</div>

					<div class="col-lg-8 ">
						<div class="divider-60 divider-lg-0"></div>
						<div class="vertical-item content-padding padding-big corner-box text-md-left text-center">
							<div class="item-content">
								<div class="media vertical_box big-media">
									<div [ngSwitch]="sign" class="icon-styled color-darkgrey fs-200">
										<i *ngSwitchCase="'aries'" class="color-darkgrey ico ico-icon_aries"></i>
										<i *ngSwitchCase="'taurus'" class="color-darkgrey ico ico-icon_taurus"></i>
										<i *ngSwitchCase="'gemini'" class="color-darkgrey ico ico-icon_gemini"></i>
										<i *ngSwitchCase="'cancer'" class="color-darkgrey ico ico-icon_cancer"></i>
										<i *ngSwitchCase="'leo'" class="color-darkgrey ico ico-icon_leo"></i>
										<i *ngSwitchCase="'virgo'" class="color-darkgrey ico ico-icon_virgo"></i>
										<i *ngSwitchCase="'libra'" class="color-darkgrey ico ico-icon_libra"></i>
										<i *ngSwitchCase="'scorpio'" class="color-darkgrey ico ico-icon_scorpio"></i>
										<i *ngSwitchCase="'sagittarius'" class="color-darkgrey ico ico-icon_sagittarius"></i>
										<i *ngSwitchCase="'capricornius'" class="color-darkgrey ico ico-icon_capricornius"></i>
										<i *ngSwitchCase="'aquarius'" class="color-darkgrey ico ico-icon_aquarius"></i>
										<i *ngSwitchCase="'pisces'" class="color-darkgrey ico ico-icon_pisces"></i>
										
										<i *ngSwitchDefault="'aries'" class="color-darkgrey ico ico-icon_aries"></i>
									</div>
									<div [ngSwitch]="sign" class="media-body">
										<h6 *ngSwitchCase="'aries'" class="mb-0 fs-40 color-main2">
											Aries
										</h6>
										<h6 *ngSwitchCase="'taurus'" class="mb-0 fs-40 color-main2">
											Taurus
										</h6>
										<h6 *ngSwitchCase="'gemini'" class="mb-0 fs-40 color-main2">
											Gemini
										</h6>
										<h6 *ngSwitchCase="'cancer'" class="mb-0 fs-40 color-main2">
											Cancer
										</h6>
										<h6 *ngSwitchCase="'leo'" class="mb-0 fs-40 color-main2">
											Leo
										</h6>
										<h6 *ngSwitchCase="'virgo'" class="mb-0 fs-40 color-main2">
											Virgo
										</h6>
										<h6 *ngSwitchCase="'libra'" class="mb-0 fs-40 color-main2">
											Libra
										</h6>
										<h6 *ngSwitchCase="'scorpio'" class="mb-0 fs-40 color-main2">
											Scorpio
										</h6>
										<h6 *ngSwitchCase="'sagittarius'" class="mb-0 fs-40 color-main2">
											Sagittarius
										</h6>
										<h6 *ngSwitchCase="'capricornius'" class="mb-0 fs-40 color-main2">
											Capricornius
										</h6>
										<h6 *ngSwitchCase="'aquarius'" class="mb-0 fs-40 color-main2">
											Aquarius
										</h6>
										<h6 *ngSwitchCase="'pisces'" class="mb-0 fs-40 color-main2">
											Pisces
										</h6>

										<h6 *ngSwitchDefault="'aries'" class="mb-0 fs-40 color-main2">
											Aries
										</h6>
										
										<p class="fs-20">
											{{currentDate | date:'yyyy-MM-dd'}}
										</p>
									</div>
								</div>
								<div class="divider-30 divider-xl-50"></div>

								<div [ngSwitch]="sign">
								<p *ngSwitchCase="'aries'">{{signData}}</p>

								<p *ngSwitchCase="'taurus'">Today brings you a chance to stir up your normal routine. If you want a real adrenaline rush, you're in luck! The only catch is that in order to feel this rush, you have to be prepared to take a risk, not a big one, but one you might not be comfortable with. Put yourself in an uncertain situation where you could be rejected or come out with less than you put in. Trust yourself and just see what happens. No matter what the outcome, you'll be better off.</p>

								<p *ngSwitchCase="'gemini'">Are you feeling overwhelmed by someone or something new in your life? Whether you're overwhelmed in a good way or a bad way, today brings you a chance to get the control you so desperately need. Once you put one last clue into place, things will start to click. You'll be able to steer the situation where you want it to go. Overall, your life is becoming a lot less erratic, and you're experiencing a lot more calm and quiet. Make the most of your free time by relaxing by yourself tonight.</p>

								<p *ngSwitchCase="'cancer'">At work, you have to remind yourself that not everything rest completely on your shoulders. Stop putting so much pressure on yourself, because no one else is. Co-workers are there for a reason. They're there to do their job and fulfill their roles on the team. If you need them to step it up a bit, then you should ask them to. Just do it face-to-face. An e-mail won't convey the right tone and could ruffle some feathers.</p>

								<p *ngSwitchCase="'leo'">If you've been trying to start a new romance, or you're just looking to amp up the romance level in your current relationship, today could give you a wonderful opportunity to do just that! You can create the perfect environment for some sizzling moments and show a certain someone how much you value them in your life. After all, isn't romance all about making someone realize how special they are? It's one thing to flirt and flatter and quite another to be open and vulnerable about how you feel.</p>

								<p *ngSwitchCase="'virgo'">You've been waiting for the right time to go out on a limb and take that chance, and that time could be today! When you see that the right people are finally opening up their minds and coming around to your way of thinking, you should take that as your green light to move full steam ahead. It's going to feel a bit scary at first, but it's also going to feel very invigorating. Don't be surprised if a friend asks to come along on the adventure. The more the merrier!</p>

								<p *ngSwitchCase="'libra'">Ugly emotions are burbling up inside you today, and it doesn't matter why. You're feeling out of sorts, and you need to deal with these feelings by sharing them. Be more expressive about your emotions than you typically are. For example, if you're upset with someone, don't suppress it. Don't underestimate other people by assuming they'll react negatively. They have a lot more empathy than you think, and they're ready to listen. Be vulnerable and tell them how you feel.</p>

								<p *ngSwitchCase="'scorpio'">Don't rein in your instincts. If something doesn't seem right, it isn't right. Even if you're in the middle of a business deal, you should listen to your gut if it tells you to walk away at the last minute. Your mind is tuned into the energies of other people today, and you'll be able to sense when someone is lying through their teeth when they smile right at you and tell you that they're trying to help. This suspicious phase will be very brief.</p>

								<p *ngSwitchCase="'sagittarius'">It could feel like an adventure when a distractingly fascinating person moves into your orbit. Before you engage in conversation, observe them for a while. Listen to what they say, how they say it, and how people react to it. This is a person who likes to be taken seriously, so you shouldn't send out any messages that you don't really stand behind. Go slowly with this one, and don't get caught up in the excitement.</p>

								<p *ngSwitchCase="'capricornius'">You're moved more by facts and figures than by tears or treacle today. You're hungry for analytical thinking right now, and your mind wants to see things in black-and-white terms. You're willing to see the other side of an argument, but you're not going to give people credit for sob stories. Therefore, you'll get along best with people who aren't interested in making small talk or being charming all day long. You're in the mood to get things done, and you will.</p>

								<p *ngSwitchCase="'aquarius'">Keep in mind that your friends have their own lives, and be careful not to be too needy right now. Yes, they've always been there to listen to your problems and encourage you, but try to handle some of your stuff on your own for a while. Not only is it good to learn to be more independent, but they'll appreciate a little break. Blurring the line between friendship and therapy is never a wise idea. Avoid it at all costs to keep your friendships healthy.</p>

								<p *ngSwitchCase="'pisces'">Thanks to a recent accomplishment, you should be feeling much more confident! You could get a great opportunity to gain more authority over your life and put some new ideas into play. Your independence is something you should savor. Treat yourself like royalty (or as much like royalty as you can comfortably afford). Luck is on your side. Kiss your worries goodbye, at least for a few hours!</p>


								<p *ngSwitchDefault="'aries'">A foreign person could have a very positive influence in your life today, especially if they're from your past. What they have to say could surprise you, but you should give them the benefit of any doubt. They're reaching out to you, and it's a good idea for you to reach right back. Exploring a different culture will be fun when they're your guide, and they're eager to show you things that are familiar to them. Take them up on any invitation.</p>
								</div>
							</div>
						</div>

					</div><!-- .col-* -->

					
				</div>
			</div>
		</section>
		<app-footer></app-footer>

	</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->