<!-- Section Faqs -->
<section id="faq" class="ds s-py-90 s-pt-xl-145 s-pb-xl-130">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Our Premium Servies</span>
                </h3>
                <div class="line"></div>
                <p class="text-center fs-20 mt-4">
                    <span></span>
                </p>

                <div class="divider-40 divider-xl-60"></div>

                <div class="owl-carousel quote-carousel owl-navigation" data-responsive-lg="3" data-responsive-md="3"
                    data-responsive-sm="1" data-responsive-xs="1" data-nav="false" data-margin="50" data-loop="true"
                    data-dots="false" data-autoplay="true" data-center="true">
                    <div class="quote-item vertical quote-layout-2">
                        <div class="wrap-img">
                            <img src="assets/images/gallery/quote_1.jpg" alt="img">
                        </div>
                        <div class="wrap-content">
                            <div class="quote-image">
                                <img src="assets/images/premiumServices/prem-1.png" alt="img">
                            </div>
                            <div class="quote-title">
                                <h5 class="mb-0 color-main2 bold">Temple Jewellery and religious jewellery work</h5>
                               
                            </div>
                            <div class="quote-content">

                                <p>
                                    Our company has gained immese expertise in presenting wide variety if gold mounted
                                    products. in this process layers of 24 carat pure gold are applied on the base
                                    materials like stone, marble, wood, copper & silver, etc. these artifacts are then
                                    laminated with special process which keeps the luster of gold at its fullest and is
                                    also protected from wear & tear and shines for years.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="quote-item vertical quote-layout-2">
                        <div class="wrap-img">
                            <img src="assets/images/gallery/quote_2.jpg" alt="img">
                        </div>
                        <div class="wrap-content">
                            <div class="quote-image">
                                <img src="assets/images/premiumServices/prem-2.png" alt="img">
                            </div>
                            <div class="quote-title">
                                <h5 class="mb-0 color-main2 bold">"Temple Construction"</h5>

                            </div>
                            <div class="quote-content">

                                <p>
                                    Our clients can avail from us reliable services for Temple Construction, god idiols
                                    that are highly demanded in various residential and commercial industries. We
                                    provide these services with the help of well trained and highly experienced
                                    professionals who consult the clients on various aspects in order to provide them.
                                    Well-qualified team.

                                    <br>
                                    <br>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="quote-item vertical quote-layout-2">
                        <div class="wrap-img">
                            <img src="assets/images/gallery/quote_3.jpg" alt="img">
                        </div>
                        <div class="wrap-content">
                            <div class="quote-image">
                                <img src="assets/images/premiumServices/prem-3.png" alt="img">
                            </div>
                            <div class="quote-title">
                                <h5 class="mb-0 color-main2 bold">Religious Events/h5>
                            </div>
                            <div class="quote-content">

                                <p>
                                    We have a separate team of young enthusiasts who are well aware about religious
                                    trends and how proceedings are done. These enthusiasts of our team make
                                    sure that your guests at the end will definitely say – it was one of the most
                                    memorable days of my life. We have a special arrangement for hindu community as
                                    well. Their events are taken care of by a specifically trained professionals.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>