<app-navbar></app-navbar>
<section class="page_title ds s-overlay s-parallax s-pt-130 s-pt-xl-150 s-pb-65">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1>E-Astro Learning</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        E-Astro Learning
                    </li>
                </ol>
            </div>

        </div>
    </div>
</section>
<section class="ds s-pt-90 s-pt-xl-150 ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="" class="embed-placeholder">
                        <img src="assets/images/gallery/01.jpg" alt="img">
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="ds s-pb-90 s-pt-60 s-pb-xl-150 c-gutter-60">
    <div class="container">
        <div class="row">

            <main class="col-lg-7 col-xl-8 order-lg-2">
                <article class="vertical-item content-padding padding-big ds bs bordered post type-post status-publish format-standard has-post-thumbnail">


                    <div class="item-content">
                        <header class="entry-header single-post">
                            <span class="cat-links">

                                <span class="screen-reader-text">Categories</span>
                                <a href="blog-right.html" rel="category tag">
                                    Astrology
                                </a>,
                                <a href="blog-right.html" rel="category tag">
                                    Horoscope
                                </a>
                            </span>
                            <div class="entry-meta">
                                <span>
                                    <a href="blog-single-right.html" rel="bookmark">
                                        <time class="entry-date published updated" datetime="2018-03-18T15:15:12+00:00">18 may 2020</time>
                                    </a>
                                </span>
                                <span class="comments-link">
                                    <i class="fa fa-comments"></i>
                                    <span class="screen-reader-text">4 Comments</span>
                                    <a href="blog-single-right.html">4</a>
                                </span>
                            </div>
                            <!-- .entry-meta -->

                        </header>
                        <!-- .entry-header -->
                        <div class="divider-20 divider-xl-40"></div>
                        <div class="entry-content">
                            <p>
                                If you would like to learn Natal Astrology or Astrology and Tarot with Jessica Adams, these courses are now available on Sun Sign School. You must complete a course at The Sun Sign School to go on to study Sun Sign Astrology 2020, Natal Astrology or Astrology and Tarot.
                            </p>
                            <p>
                                These three six-month courses begin on January 1st 2020 and again on August 1st 2020. These online classes involve full-time, professional astrologers as well as academics and authors in the field of astrology and Tarot.
                            </p>
                            <p>
                                You will be trained to professional standard by Jessica Adams, who will be hiring graduates who are interested in a part-time career in astrology and/or Tarot in 2021.
                            </p>
                            <blockquote>
                                <p>Sem justo facilisi, pulvinar feugiat sed cursus donec vestibulum, rutrum mauris montes felis, quam metus sed in. In curabitur, ut in auctor ut, egestas nunc elit lectus sed sed.</p>
                            </blockquote>
                            <p>
                                The US $100 first-stop course, at The Sun Sign School includes expert guidance from experienced media astrologers Jessica Adams, Natalie Delahaye, Barbara Dunn, Bernard Fitzwalter, Debbie Frank, Maggie Hyde, Stephanie Johnson, Joanne Madeline Moore and Penny Thornton. In 2020 Neil Spencer (The Observer, True as the Stars Above) will also join as a podcast tutor.
                            </p>
                        </div><!-- .entry-content -->
                        <div class="tag-wrapper mt-30">
                            <span class="tag-links">
                                <a href="blog-single-right.html" rel="tag">Post</a>
                                <a href="blog-single-right.html" rel="tag">Simple post</a>
                            </span>
                        </div>
                    </div>
                    <!-- .item-content -->
                </article>

                <div class="divider-60"></div>

                <div class="author-bio side-item content-padding ds bs bordered box-shadow">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="item-media cover-image">
                                <img src="assets/images/team/02.jpg" alt="img">
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-6 col-md-6">
                            <div class="item-content">
                                <h5>
                                    <a href="blog-right.html">
                                        Jeffrey Parsons
                                    </a>
                                </h5>
                                <p>
                                    Consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore dolore magna aliquyam erat sed diam voluptua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="comments" class="comments-area">


                    <div id="respond" class="comment-respond">
                        <h4 id="reply-title" class="comments-title mb-3">Leave A Comment</h4>
                        <form action="" id="commentform" class="comment-form">
                            <p class="comment-form-author form-group has-placeholder">
                                <label for="author">Name <span class="required">*</span></label>
                                <input id="author" name="author" class="form-control" type="text" value="" size="30" maxlength="245" required="required" placeholder="Name">
                            </p>
                            <p class="comment-form-email form-group has-placeholder">
                                <label for="email">Email <span class="required">*</span></label>
                                <input id="email" name="email" type="email" class="form-control" value="" size="30" maxlength="100" required="required" placeholder="Email">
                            </p>
                            <p class="comment-form-comment form-group has-placeholder">
                                <label for="comment">Comment</label>
                                <textarea id="comment" class="form-control" name="comment" cols="45" rows="4" aria-required="true" required="required" placeholder="Write a comment"></textarea>
                            </p>
                            <p class="comment-form-cookies-consent">
                                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                            </p>
                            <p class="form-submit mt-10">
                                <button name="submit" type="submit" id="submit" class="btn btn-maincolor btn-short btn-medium mb-0 submit">Send</button>
                                <input type="hidden" name="comment_post_ID" value="1637" id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                            </p>
                        </form>
                    </div>
                    <!-- #respond -->

                </div>


            </main>

            

        </div>

    </div>
</section>
<app-footer></app-footer>