.parallax {
    /* The image used */
    background-image: url("/assets/images/pooja/Khajuraho-temple.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container{
    padding-bottom: 0%;
}

.woocommerce-pagination{
  padding:40px;
  margin:0px;
}

@media only screen and (max-width: 700px) {
  .form-row{
    display: grid;
  }
}