<app-navbar></app-navbar>
<section class="page_title ds s-overlay s-parallax s-pt-130 s-pt-xl-150 s-pb-65">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1>Book Your Tirth-Yatra</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Tirth Booking
                    </li>
                </ol>
            </div>

        </div>
    </div>
</section>
<section class="ds s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="vertical-item content-padding ds bs box-shadow bordered">
                    <div class="item-media">
                        <div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1"
                            data-responsive-sm="1" data-responsive-xs="1" data-dots="true">
                                <img style="border-radius:20px" src="assets/images/pooja/banner-for-web.jpg" alt="img">
                                <img style="border-radius:20px" src="assets/images/pooja/banner-for-web1.jpg" alt="img">
                            <!-- <a  class="photoswipe-link" data-width="850" data-height="400"
                                data-iframe="//player.vimeo.com/video/1084537">
                                <img src="assets/images/gallery/06.jpg" alt="img">
                            </a> -->
                        </div>
                    </div>
                    <!-- <div class="item-content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident cupiditate itaque consequatur rerum reiciendis repudiandae vitae qui nulla laboriosam odit? Sunt, enim accusantium voluptates quis cum quia numquam ipsam ex?
                        </p>
                    </div> -->
                </div>
            </div>

        </div>

    </div>
</section>


<section class="ds s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mx-auto text-center" style="width: 50%;">
                    <h2>Tirth Package</h2>
                </div>
                <form class="mt-4" style="background-color:#161d3f; border-radius:20px; padding: 0% 10px">
                    <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Type Destination" style="background-color:#161d3f">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Select Country" style="background-color:#161d3f">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Select City" style="background-color:#161d3f">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Select Package" style="background-color:#161d3f">
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<div class="divider-60"></div>
</section>


<div class="parallax">
    <h3 class="text-center text-white" style="color: white;
    background: rgba(12, 16, 35, 0.46);
    text-shadow: black 2px 2px 2px; padding: 25%;">We have a professional team which arranges the pilgrimage visit according to your budget and time.</h3>
</div>
<div>
    <div class="divider-60"></div>
    <section class="ds s-pt-90 s-pb-30 s-pt-xl-150 s-pb-xl-90 c-mb-60 c-gutter-60">
        <div class="container" style="padding-top:0px" >
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                        <div class="item-media">
                            <img src="assets/images/pooja/bhoomi.png" alt="img">
                            <div class="media-links">
                                <a class="abs-link" title="" ></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5 class="mb-0 links-maincolor2">
                                <a >Darshan</a>
                            </h5>

                            <p class="team-position mb-30">
                                Rs.  /-
                            </p>
                            <p class="social-icons">
                                <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                   Read more
                                </a>
                            </p>

                        </div>
                    </div>
                </div><!-- .col-* -->
                <div class="col-lg-3 col-md-6">
                    <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                        <div class="item-media">
                            <img src="assets/images/pooja/devakalyanamPooja.png" alt="img">
                            <div class="media-links">
                                <a class="abs-link" title="" ></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5 class="mb-0 links-maincolor2">
                                <a >Darshan</a>
                            </h5>

                            <p class="team-position mb-30">
                                Rs.  /-
                            </p>
                            <p class="social-icons">
                                <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                   Read more
                                </a>
                            </p>

                        </div>
                    </div>
                </div><!-- .col-* -->
                <div class="col-lg-3 col-md-6">
                    <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                        <div class="item-media">
                            <img src="assets/images/pooja/ganeshPooja.png" alt="img">
                            <div class="media-links">
                                <a class="abs-link" title="" ></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5 class="mb-0 links-maincolor2">
                                <a >Darshan</a>
                            </h5>

                            <p class="team-position mb-30">
                                Rs.  /-
                            </p>
                            <p class="social-icons">
                                <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                   Read more
                                </a>
                            </p>

                        </div>
                    </div>
                </div><!-- .col-* -->
                <div class="col-lg-3 col-md-6">
                    <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                        <div class="item-media">
                            <img src="assets/images/pooja/grahaPooja.png" alt="img">
                            <div class="media-links">
                                <a class="abs-link" title="" ></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5 class="mb-0 links-maincolor2">
                                <a >Darshan</a>
                            </h5>

                            <p class="team-position mb-30">
                                Rs.  /-
                            </p>
                            <p class="social-icons">
                                <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                   Read more
                                </a>
                            </p>

                        </div>
                    </div>
                </div><!-- .col-* -->
                <div class="col-lg-3 col-md-6">
                    <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                        <div class="item-media">
                            <img src="assets/images/pooja/kalaSarpaPooja.png" alt="img">
                            <div class="media-links">
                                <a class="abs-link" title="" ></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5 class="mb-0 links-maincolor2">
                                <a >Darshan</a>
                            </h5>

                            <p class="team-position mb-30">
                                Rs.  /-
                            </p>
                            <p class="social-icons">
                                <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                   Read more
                                </a>
                            </p>

                        </div>
                    </div>
                </div><!-- .col-* -->
                <div class="col-lg-3 col-md-6">
                    <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                        <div class="item-media">
                            <img src="assets/images/pooja/mahaPooja.png" alt="img">
                            <div class="media-links">
                                <a class="abs-link" title="" ></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5 class="mb-0 links-maincolor2">
                                <a >Darshan</a>
                            </h5>

                            <p class="team-position mb-30">
                                Rs.  /-
                            </p>
                            <p class="social-icons">
                                <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                   Read more
                                </a>
                            </p>

                        </div>
                    </div>
                </div><!-- .col-* -->
                <div class="col-lg-3 col-md-6">
                    <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                        <div class="item-media">
                            <img src="assets/images/pooja/mahaPooja.png" alt="img">
                            <div class="media-links">
                                <a class="abs-link" title="" ></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5 class="mb-0 links-maincolor2">
                                <a >Darshan</a>
                            </h5>

                            <p class="team-position mb-30">
                                Rs.  /-
                            </p>
                            <p class="social-icons">
                                <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                   Read more
                                </a>
                            </p>

                        </div>
                    </div>
                </div><!-- .col-* -->
                <div class="col-lg-3 col-md-6">
                    <div class="vertical-item bg-darkgrey text-center team-layout box-shadow content-padding">
                        <div class="item-media">
                            <img src="assets/images/pooja/mahaPooja.png" alt="img">
                            <div class="media-links">
                                <a class="abs-link" title="" ></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5 class="mb-0 links-maincolor2">
                                <a >Darshan</a>
                            </h5>

                            <p class="team-position mb-30">
                                Rs.  /-
                            </p>
                            <p class="social-icons">
                                <a id="btToggle" class="btn btn-outline-maincolor btn-medium  d-none d-md-block">
                                   Read more
                                </a>
                            </p>

                        </div>
                    </div>
                </div><!-- .col-* -->
                

            </div>

            <nav class="woocommerce-pagination">
                <ul class="page-numbers">
                    <li>
                        <span class="page-numbers current">1</span>
                    </li>
                    <li>
                        <a class="page-numbers">2</a>
                    </li>
                    <li>
                        <a class="next page-numbers">→</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>
<app-footer></app-footer>