/* You can add global styles to this file, and also import other style files */
/* .section-shop {
     
       margin-top: 60%;
} */
/* #avFreeHoroHolder{
       position: absolute;
       margin-top: -1034%;
       z-index: 99999999 !important;
   
   } */