/* You can add global styles to this file, and also import other style files */
/* .section-shop {
     
       margin-top: 60%;
} */
/* #avFreeHoroHolder{
       position: absolute;
       margin-top: -1034%;
       z-index: 99999999 !important;
   
   } */

/*--------Runtime 4/07/2021---------------------*/   
@import '~ngx-toastr/toastr';
#astro_widget #avFreeHoroHolder{margin:0 auto!important;}
.formWrap ul li .inputField.selectWrap .select-wrap{width:100%;}
.formWrap ul li .inputField.selectWrap .select-wrap select{margin:0 auto!important;}
.formWrap input[type="radio"] + label{margin:0!important;}