<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

<div class="preloader">
	<div class="preloader_image pulse"></div>
</div>

<!-- search modal -->
                  <!--Section store-->
	

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
	<div id="box_wrapper">

		<!-- template sections -->
		<div style="display:none" id="divshow2">
			<app-login></app-login>
		</div>
		<div style="display:none" id="divreg">
			<app-register></app-register>
		</div>
		<app-navbar></app-navbar>
		<!--Section header-->
		<app-header></app-header>
		<!-- section widget -->

		<app-widget></app-widget>
		<!--Section store-->
		<app-store></app-store>
		<!--Section zodiac-->
		<app-zodiac></app-zodiac>

		<!--Section Service-->
		<app-services></app-services>
		<app-pandit></app-pandit>

		<!-- Section premium-services -->
		<app-premium-services></app-premium-services>

		<app-tirth></app-tirth>
		<!-- Section extra-services -->
		<app-extra-services></app-extra-services>
		<!--Section About-->
		<app-aboutus> </app-aboutus>
		<!-- Section footer -->
		<app-footer></app-footer>


	</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->