<!-- Section Blog -->
<section id="blog" class="ds bs pattern s-py-90 s-py-xl-150">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <h3 class="special-heading mt-2 fs-60 text-center text-md-left">
                    <span>Tirth Yatra</span>
                </h3>
                <p class="text-white text-center text-md-left fs-20 line-right mb-0">
                    <span></span>
                </p>

            </div>
            <div class="col-xl-7 col-lg-6 text-center text-md-left">
                <p class="text-center text-md-left  mt-4 mt-lg-0">
                    <span> Tirth yatra Booking Service
                    </span>
                </p>
                <div class="divider-35"></div>
                <a href="book-yatra" class="btn btn-outline-maincolor btn-medium">Book Your Yatra Now</a>
            </div>
            <div class="col-12">
                <div class="divider-55"></div>
                <div class="shortcode-post-grid-tilled-1">
                    <div class="special-img">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="assets/images/tirth-yatra/tirth.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="assets/images/tirth-yatra/varanasi.png" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="assets/images/tirth-yatra/kedarnath.png" alt="Third slide">
                              </div>
                            </div>
                          </div>
                    </div>
                   
                    <article
                        class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail mt-0">
                        <div class="item-content">
                            <div class="divider-30"></div>
                            <header class="entry-header">
                                <h4 class="entry-title mb-3 links-maincolor2">
                                    <a class="fs-30" href="blog-single-right.html" rel="bookmark">
                                        TEMPLE SERVICES
                                    </a>
                                </h4>
                            </header>
                            <!-- .entry-header -->

                            <div class="entry-content mt-20">
                                <p>
                                    Using this religious platform, devotees have the convenience of booking a seva
                                    /puja
                                    service without any hassles saving time that would other wise be spend in the
                                    queues. Using the Website or the Mobile App, devotees can book a puja online from
                                    any of the temple listed. Not only Sevas or darshans at Temples, Devotees can also
                                    book a Pujari online for any rituals. We are an Online platform which brings
                                    Temples,
                                    Pujaris and Devotees together for a hassle - free spiritual experience. For
                                    Devotees,
                                    we also have (V.I.P) Darshan Facilities as our services.
                                </p>
                            </div><!-- .entry-content -->
                            <div class="entry-footer flex-row mt-4">
                                <div class="entry-meta">
                                    <span>
                                        <a href="blog-single-right.html" rel="bookmark">
                                            
                                        </a>
                                    </span>
                                </div>
                                <!-- .entry-meta -->
                                <div class="mt-0 ml-auto">
                                    <a href="blog-single-right.html" class="mt-30 font-2">Book Now <i
                                            class="fa fa-caret-right color-main ml-2"></i></a>
                                </div>
                            </div>
                        </div><!-- .item-content -->

                    </article><!-- #post-## -->
                    <!-- <div class="divider-30"></div> -->
                    <article
                        class="vertical-item text-center text-md-left post type-post status-publish format-standard has-post-thumbnail mt-0">
                        <div class="item-content">
                            
                            <header class="entry-header">
                                <h4 class="entry-title mb-3 links-maincolor2">
                                    <a class="fs-30" href="blog-single-right.html" rel="bookmark">

                                        TIRTH YATRA BOOKING

                                    </a>
                                </h4>
                            </header>
                            <!-- .entry-header -->
                        
                            <div class="entry-content mt-20">
                                <p>
                                    The boom in Millennial Astrology (for people born 1990 to 1995) means horoscopes are
                                    now known factors for anyone aged around
                                </p>
                            </div><!-- .entry-content -->
                            <div class="entry-footer flex-row mt-4">
                                <div class="entry-meta">
                                    <span>
                                        <a href="blog-single-right.html" rel="bookmark">

                                        </a>
                                    </span>
                                </div>
                                <!-- .entry-meta -->
                                <div class="mt-0 ml-auto">
                                    <a href="blog-single-right.html" class="mt-30 font-2">Book Now  <i
                                            class="fa fa-caret-right color-main ml-2"></i></a>
                                </div>
                            </div>
                        </div><!-- .item-content -->
                        
                        <div class="item-content">
                            <header class="entry-header">
                                <h4 class="entry-title mb-3 links-maincolor2">
                                    <a class="fs-30" href="blog-single-right.html" rel="bookmark">
                                        Accomodation Services 
                                    </a>
                                </h4>
                            </header>
                            <!-- .entry-header -->

                            <div class="entry-content mt-20">
                                <p>
                                    The boom in Millennial Astrology (for people born 1990 to 1995) means horoscopes are
                                    now known factors for anyone aged around
                                </p>
                            </div><!-- .entry-content -->
                            <div class="entry-footer flex-row mt-4">
                                <div class="entry-meta">
                                    <span>
                                        <a href="blog-single-right.html" rel="bookmark">

                                        </a>
                                    </span>
                                </div>
                                <!-- .entry-meta -->
                                <div class="mt-0 ml-auto">
                                    <a href="blog-single-right.html" class="mt-30 font-2">Book Now <i
                                            class="fa fa-caret-right color-main ml-2"></i></a>
                                </div>
                            </div>
                        </div><!-- .item-content -->
                    </article><!-- #post-## -->
                   
                </div>
            
            </div>

        </div>
    </div>
</section>